vs-siltstrider/.vs/vs-siltstrider/config/applicationhost.config
/vs-siltstrider/.vs/vs-siltstrider/FileContentIndex
/vs-siltstrider/.vs/vs-siltstrider/v17
/vs-siltstrider/.vs
/vs-siltstrider/.vs
/vs-siltstrider/.vs
vs-siltstrider/vs-siltstrider/vs-siltstrider/vs-siltstrider.csproj
