vs-siltstrider/.vs/vs-siltstrider/config/applicationhost.config
/vs-siltstrider/.vs/vs-siltstrider/FileContentIndex
/vs-siltstrider/.vs/vs-siltstrider/v17
/vs-siltstrider/.vs
/vs-siltstrider/.vs
/vs-siltstrider/.vs
vs-siltstrider/vs-siltstrider/vs-siltstrider/vs-siltstrider.csproj
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.metadata.v9.bin
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.projects.v9.bin
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.strings.v9.bin
vs-siltstrider/.vs/vs-siltstrider/DesignTimeBuild/.dtbcache.v2
vs-siltstrider/.vs/vs-siltstrider/v17/.futdcache.v2
vs-siltstrider/.vs/vs-siltstrider/v17/.suo
vs-siltstrider/.vs/vs-siltstrider/v17/DocumentLayout.backup.json
vs-siltstrider/.vs/vs-siltstrider/v17/DocumentLayout.json
vs-siltstrider/.vs/vs-siltstrider/v17/DocumentLayout.json
vs-siltstrider/.vs/vs-siltstrider/v17/DocumentLayout.backup.json
vs-siltstrider/.vs/vs-siltstrider/v17/.suo
vs-siltstrider/.vs/vs-siltstrider/v17/.futdcache.v2
vs-siltstrider/.vs/vs-siltstrider/DesignTimeBuild/.dtbcache.v2
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.strings.v9.bin
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.projects.v9.bin
vs-siltstrider/.vs/ProjectEvaluation/vs-siltstrider.metadata.v9.bin
